#container{
    border: 2px solid black;
    float: center;
    padding: 10px;
    margin: auto;
    width: 80%;
    height: auto;
}

#selection{
    margin: auto;
    width: auto;
    height: auto;
    float: center;
}

#value2{
}